@using EventsManager.Shared.Dtos

<div class="card">
    <div class="card-header">
        <h3>@Event.Name</h3>
        <img src="@Event.ImageUrl" alt="Event Image" class="img-fluid" />
        <button class="btn btn-primary float-end" @onclick="() => ToggleEditMode.InvokeAsync()">Edit</button>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Description:</strong> @Event.Description</li>
        <li class="list-group-item"><strong>Location:</strong> @Event.Location</li>
        <li class="list-group-item"><strong>Max Registrations:</strong> @Event.MaxRegistrations</li>
        <li class="list-group-item"><strong>Is Public:</strong> @Event.IsPublic</li>
        <li class="list-group-item"><strong>Open Registrations Date:</strong> @Event.OpenRegistrationsDate</li>
        <li class="list-group-item"><strong>Close Registrations Date:</strong> @Event.CloseRegistrationsDate</li>
        <li class="list-group-item"><strong>Start Date:</strong> @Event.StartDate</li>
        <li class="list-group-item"><strong>Finish Date:</strong> @Event.FinishDate</li>
        <li class="list-group-item"><strong>Creation Date:</strong> @Event.CreationDate</li>
        <li class="list-group-item"><strong>Pre-registrations:</strong> @Event.PreRegistrationsCount</li>
    </ul>
</div>

@code {
    [Parameter]
    public MyEventDto Event { get; set; }

    [Parameter]
    public EventCallback ToggleEditMode { get; set; }
}
