@using EventsManager.Shared.Dtos
@using EventsManager.Client.Components.ImageUploader
@using EventsManager.Client.Components.Loaders
@using EventsManager.Client.Components.Modals
@using System.Net.Http.Headers
@using System.Net.Http.Json

@inject HttpClient Http

<div class="card">
    <div class="card-header bg-primary text-white">
        <div class="d-flex justify-content-between align-items-center">
            <h3>@Event.Name</h3>
            <button class="btn btn-light" @onclick="() => ToggleEditMode.InvokeAsync()">Edit</button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-3">
                    @if (Event.ImageUrl != null)
                    {
                        <img src="@($"{Event.ImageUrl}?v={imageUpdateCount}")" alt="Event Image" class="img-fluid"/>
                    }
                    <ImageUploader RefreshInformation="RefreshEventData" EventId="@Event.Id" Type="ImageUploader.ImageType.Event" ImageUrl="@Event.ImageUrl"/>
                </div>
                @if(!string.IsNullOrEmpty(ErrorMessage))
                {
                    <div class="alert alert-danger" role="alert">
                        @ErrorMessage
                    </div>
                }
            </div>
            <div class="col-md-8">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Id:</strong> @Event.Id</li>
                    <li class="list-group-item"><strong>Description:</strong> @Event.Description</li>
                    <li class="list-group-item"><strong>Location:</strong> @Event.Location</li>
                    <li class="list-group-item"><strong>Max Registrations:</strong> @Event.MaxRegistrations</li>
                    <li class="list-group-item"><strong>Is Public:</strong> @Event.IsPublic</li>
                    <li class="list-group-item"><strong>Open Registrations Date:</strong> @Event.OpenRegistrationsDate</li>
                    <li class="list-group-item"><strong>Close Registrations Date:</strong> @Event.CloseRegistrationsDate</li>
                    <li class="list-group-item"><strong>Start Date:</strong> @Event.StartDate</li>
                    <li class="list-group-item"><strong>Finish Date:</strong> @Event.FinishDate</li>
                    <li class="list-group-item"><strong>Creation Date:</strong> @Event.CreationDate</li>
                    <li class="list-group-item"><strong>Riders Pre-registrations:</strong> @Event.RidersPreRegistrationsCount</li>
                    <li class="list-group-item"><strong>Riders Accepted registrations:</strong> @Event.RidersAcceptedRegistrationsCount</li>
                    <li class="list-group-item"><strong>Marshall Accepted registrations:</strong> @Event.MarshallAcceptedRegistrationsCount</li>
                    <li class="list-group-item"><strong>Rider-Marshall Accepted registrations:</strong> @Event.RiderMarshallAcceptedRegistrationsCount</li>
                    @foreach (var role in new (string, string)[] 
                    {
                        ("Rider registration password", Event.RiderRegistrationPassword),
                        ("Staff registration password", Event.StaffRegistrationPassword),
                        ("Marshall registration password", Event.MarshallRegistrationPassword),
                        ("Rider-Marshall registration password", Event.RiderMarshallRegistrationPassword)
                    })
                    {
                        <li class="list-group-item">
                            <strong>@role.Item1:</strong> 
                            <span class="@(string.IsNullOrWhiteSpace(role.Item2) ? "text-danger" : "")">
                                @DisplayPassword(role.Item2)
                            </span>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public MyEventDto Event { get; set; }

    private string? ErrorMessage = null;

    private int imageUpdateCount = 0;

    private bool showConfirmDeleteModal = false;
    private bool requesting = false;
    private Guid selectedEventId;
    
    [Parameter]
    public EventCallback ToggleEditMode { get; set; }
    
    private string[] AllowedImageFormats  = { "image/jpeg", "image/png", "image/gif", "image/jpg" };

    private string DisplayPassword(string password)
    {
        return string.IsNullOrWhiteSpace(password) ? "NO PASSWORD SET" : password;
    }   
    
    private async Task UploadImage(InputFileChangeEventArgs e)
    {
        if (!AllowedImageFormats.Contains(e.File.ContentType))
        {
            ErrorMessage = "Only JPEG, JPG, PNG and GIF images are allowed.";
            return;
        }

        try 
        {
            requesting = true;

    // Resize the image while maintaining the aspect ratio
            var image = await e.File.RequestImageFileAsync(e.File.ContentType, 300, int.MaxValue);
            
            await UploadFileToServer(image);
            await RefreshEventData();
        }
        catch (Exception ex) 
        {
            ErrorMessage = "Error occurred while processing the image: " + ex.Message;
        }
        finally 
        {
            requesting = false;
        }
    } 

    private async Task UploadFileToServer(IBrowserFile file)
    {
        using var content = new MultipartFormDataContent();

        var fileContent = new StreamContent(file.OpenReadStream(maxAllowedSize: 2097152));
        fileContent.Headers.ContentType = new MediaTypeHeaderValue(file.ContentType);

        content.Add(content: fileContent, name: "\"file\"", fileName: file.Name);

        await Http.PostAsync($"Event/{Event.Id}/image", content);
        imageUpdateCount++;
    }

    private async Task RefreshEventData()
    {
        Event = await Http.GetFromJsonAsync<MyEventDto>($"Event/{Event.Id}-organizer");
        imageUpdateCount++;
    }

    private void PromptDelete(Guid id)
    {
        selectedEventId = id;
        showConfirmDeleteModal = true;
    }

    private async Task ConfirmDelete(bool confirmed)
    {
        showConfirmDeleteModal = false;

        if (confirmed)
        {
            await DeleteImage(selectedEventId);
        }
    }

    private async Task DeleteImage(Guid id)
    {
        requesting = true;
        await Http.DeleteAsync($"Event/{id}/image");
        imageUpdateCount++;
        await RefreshEventData();
        requesting = false;
    }
}
