@using EventsManager.Shared.Dtos
@using EventsManager.Client.Components.Modals
@using EventsManager.Client.Components.Loaders
@using EventsManager.Client.Pages
@using System.Security.Claims
@using System.Net
@using EventsManager.Shared.Enums

@inject HttpClient Http
@inject IHttpClientFactory HttpClientFactory
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

@if (_eventDetail == null)
{
    <LoadingSpinner />
}
else
{
    <div class="card">
        <div class="card-header">
            <h3>@_eventDetail.Name</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="image-container">
                        @if (_eventDetail.ImageUrl != null)
                        {
                            <img src="@_eventDetail.ImageUrl" alt="@_eventDetail.Name" class="img-fluid" />
                        }
                        else
                        {
                            <div style="width: 100%; height: 100%;"></div>
                        }
                    </div>
                </div>
                <div class="col-md-8">
                    <p>@_eventDetail.Description</p>
                    <p><strong>Start Date:</strong> @_eventDetail.StartDate.ToString("g")</p>
                    <p><strong>Location:</strong> @_eventDetail.Location</p>
                    <p><strong>Accepted registrations:</strong> @_eventDetail.PreRegistrationsCount</p>
                    <AuthorizeView>
                        <Authorized>
                            @if(_myRegistration != null)
                            {
                                <div class="card mt-4">
                                    <div class="card-header">
                                        <h5>Your Registration Details</h5>
                                    </div>
                                    <div class="card-body">
                                        <p><strong>Registration date:</strong> @_myRegistration.CreationDate.ToString("g")</p>
                                        <p><strong>Role:</strong> @_myRegistration.Role</p>
                                        <p><strong>State:</strong> @_myRegistration.State</p>
                                        @if (_myRegistration.Bib == null)
                                        {
                                            <p style="color:red;"><strong>Bib:</strong> No Bib</p>
                                        }
                                        else
                                        {
                                            <p><strong>Bib:</strong> @_myRegistration.Bib</p>
                                        }
                                        <p><strong>Checked In:</strong> @(_myRegistration.CheckedIn ? "Yes" : "No")</p>
                                        
                                        @if(_myRegistration.Role == RegistrationRole.Staff && _myRegistration.State == RegistrationState.Accepted)
                                        {
                                            <button class="btn btn-success" @onclick="NavigateToOrganizerPanel">Go to Organizer Panel</button>
                                        }
                                        
                                        @if(_myRegistration.State == RegistrationState.PreRegistered)
                                        {
                                            @if(_myRegistration.Role == RegistrationRole.Rider)
                                            {
                                                <div class="alert alert-danger" role="alert">
                                                    You need to pay for the registration.
                                                    <button class="btn btn-primary">Pay Now</button>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="alert alert-warning" role="alert">
                                                    Your registration is awaiting approval from the event owner.
                                                </div>
                                            }
                                        }
                    
                                        @if(_myRegistration.State == RegistrationState.Cancelled)
                                        {
                                            <div class="alert alert-danger" role="alert">
                                                Your registration is cancelled. If you don't know why, please contact the organization.
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </Authorized>
                    </AuthorizeView>
                </div>
            </div>
        </div>
    </div>

    <AuthorizeView>
        <Authorized>
            @if(_myRegistration == null)
            {
                <button class="btn btn-primary" @onclick="() => _isModalOpen = true">Pre-Register</button>
            }
        </Authorized>
    </AuthorizeView>

    @if (_isModalOpen)
    {
        <RegistrationModal EventDto="@_eventDetail" EventId="EventId" Title="Registration type" Message="Select what type of registration you want to proceed." 
                           Visible="@_isModalOpen" 
                           ConfirmationChanged="PreRegister" />
    }
}

@code {
    [Parameter]
    public Guid? EventId { get; set; }
    
    private EventDto? _eventDetail;
    private RegistrationDto? _myRegistration;
    private bool _isModalOpen;
    private ClaimsPrincipal? _user;
    
    protected override async Task OnInitializedAsync()
    {
        await GetBasicInfoAboutEventDetails();
    }

    private async Task GetBasicInfoAboutEventDetails()
    {
        var http = HttpClientFactory.CreateClient("EventsManager.ServerAPI.Anonymous");
        _eventDetail = await http.GetFromJsonAsync<EventDto>($"Event/{EventId}");

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        _user = authState.User;
        var isAuthenticated = _user.Identity?.IsAuthenticated ?? false;
        if (isAuthenticated)
        {
            try
            {
                var response = await Http.GetFromJsonAsync<RegistrationDto?>($"Registration/event/{EventId}");
                if (response != null)
                {
                    _myRegistration = response;
                }
            }
            catch (Exception)
            {
                // ignored
            }
        }
    }

    private async Task PreRegister(RegistrationModal.RoleConfirmation? roleConfirmation)   
    {
        _isModalOpen = false;

        if (roleConfirmation != null)   
        {
            await Http.PostAsync($"Registration/event/{EventId}/{roleConfirmation.Role}/password/{roleConfirmation.Password}", null);
            await GetBasicInfoAboutEventDetails();
        }
    }

    private void NavigateToOrganizerPanel()
    {
        NavigationManager.NavigateTo($"event-detail-organizer/{EventId}");
    }
}
